@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

html {
    font-family: Outfit, system-ui, sans-serif;
}


.header {

    width: 500px;
    height: 568px;
    position: relative;
    box-shadow: 1.83px 2.37px 24px -10px black;
    opacity: 1;
    padding-left: 25px;
}

.SpcLogo {

    width: 160px;
    height: 160px;
    position: relative;
    top: 45px;
    left: 45px;
}

.V-line {
    background-color: #000000;
    position: relative;
    left: 250px;
    height: 170px;
    bottom: 123px;
    width: 2px;
}

.mtoplogo {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 45px;
    left: 300px;
    border-radius: 0px;
}

.email {
    position: absolute;
    opacity: 0.6;
    width: 225px;
    height: 30px;
    border-radius: 4px;
    padding-left: 25px;
    left: 130px;
}

.pass {
    width: 225px;
    height: 30px;
    position: absolute;
    left: 130px;
    opacity: 0.6;
    border-radius: 4px;
    padding: 0px 0px 0px 25px;
}

.login {
    width: 225px;
    height: 30px;
    position: relative;
    left: 124.5px;
    top: 30px;
    opacity: 1;
    background-color: #0B60B0;
    border-radius: 4px;
}

.newlog {
    position: relative;
    bottom: 80px;
    padding-right: 0px;
    padding-left: 5px;
    display: inline-block;
}

.user {
    position: absolute;
    top: 252px;
    left: 160px;
}

.word {
    position: absolute;
    top: 300px;
    left: 160px;
}

.forgot {
    width: 225px;
    height: 30px;
    position: relative;
    top: 75px;
    right: 100px;
}

.title {
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 60px;
    width: 600px;
    right: 48px;
}

.email:focus {
    outline: inherit;
    list-style-position: inherit;
}

.pass:focus {
    list-style-position: inherit;
    outline: inherit;
}

.head {

    width: 1440px;
    height: 176px;
    margin: 0px;
    position: fixed;
    background-color: #000000;
    bottom: 850px;
    left: 0px;
}

.mtplogoNEW {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 900px;
    left: 180px;
}

.spclogoNEW {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 30px;
    bottom: 900px;
}

.lineNEW {
    width: 1px;
    height: 120px;
    position: fixed;
    left: 150px;
    top: 5px;
    background-color: #000000;
}

.titulo {
    position: relative;
    font-family: serif;
}


.titulo2 {
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 900px;
}

.N {
    position: relative;
    bottom: 545px;
    font-size: 30px;

}

.inputs {
    position: relative;
    width: 257px;
    height: 34px;
}

.NMTOP {
    width: 257px;
    height: 34px;
    position: relative;
    bottom: 550px;
}